select,
textarea,
input[type="text"],
input[type="password"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
}
input,
textarea,
.uneditable-input {
  width: 206px;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc; 
}
.textError{
  border-color:#B94A48;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

textarea.error,
input[type="text"].error,
input[type="password"].error,
.uneditable-input.error {
  border-color: #ff8888;
  /*background-color: #fff5f5;*/
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 92, 92, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 92, 92, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 92, 92, 0.6);
}

textarea.right,
input[type="text"].right,
input[type="password"].right,
.uneditable-input.right {
  border-color: #7bd22e;
  /*background-color: #f2ffe5;*/
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(150, 255, 70, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(150, 255, 70, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(150, 255, 70, 0.6);
}

.help-inline{
color: #B94A48; font-size: 12px; padding:5px 5px 5px 5px;
}
.help-inline.error,.help-inline.pointError,.help-inline.point,.help-inline.passWord1,.help-inline.passWord2,.help-inline.passWord3
{
  background-image: url(pwd_sprite.png) ;
  background-repeat: no-repeat;
}
.help-inline.error{
  background-position:  2px -203px;
  padding-left: 20px;
}
.help-inline.pointError{
  background-position: 2px -237px;
  padding-left: 20px;
}
.help-inline.point{
  background-position: 2px -137px;
  padding-left: 20px; color:#7699c6;
}
.help-inline.passWord1{
  background-position: 2px -18px;
  padding-left: 70px; color:#ff9c3a;
}
.help-inline.passWord2{
  background-position: 2px -60px;
  padding-left: 70px; color:#45ac07;
}
.help-inline.passWord3{
  background-position: 2px -106px;
  padding-left: 70px;color:#45ac07;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.control-group {
  margin-bottom: 10px;
}


.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}


.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}